<h2>My Heroes</h2>

<ul class="heroes">
  <!-- No longer required, hero detail is now handled via routing -->
  <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero"> -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/herodetail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!-- No longer required, hero detail is now handled via routing -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->